<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pick your poison</title>
        <meta name="description" content="landing page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div style="text-align: center; margin-top: 50px;">
            <h1>Pick your poison</h1>
            <img src="/asset/guapo-comprede.jpg">
        </div>
        <div style="display:flex; justify-content:space-evenly; margin-top: 20px;">
            <div style="text-align: center;">
                <h2>Chatroom?</h2>
                <p>Talk to your friends!</p>
                <button onclick="window.location.href='/chat'">Chat Now!</button>
            </div>
            <div style="text-align: center;">
                <h2>Game?</h2>
                <p>Play with your friends!</p>
                <button onclick="window.location.href='/game'">Play Now!</button>
            </div>
            <div style="text-align: center;">
                <h2>Pics?</h2>
                <p>Share an image with your friends!</p>
                <button onclick="window.location.href='/v-insta-g'">Share Now!</button>
            </div>
        </div>
        <script src="" async defer>
        </script>
    </body>
</html>